<html>
    <head>
        <title>Judgemental Eye</title>
    </head>
    <body>
        <h1>The Judgemental Eye</h1>
        
        <div id="message-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>