<html>
<body>
    <h2>Existing user login</h2>
        <form action="/existing_user_login" method="POST">
            <label for="email">Enter user email</label>
            <input type="text" name="email" /><br>
            <label for="password">Enter your password</label>
            <input type="password" name="password" /><br>
            <input type="submit">
        </form>
    <h2>New user sign up</h2>
        <form action="/new_user_signup" method="POST">
            <label for="email">Enter user email</label>
            <input type="text" name="email" /><br>
            <label for="password">Enter your password</label>
            <input type="password" name="password" /><br>
            <label for="password_ver">Enter your password again</label>
            <input type="password" name="password_ver" /><br>
            <label for="age">Enter your age</label>
            <input type="text" name="age" /><br>
            <label for="zipcode">Enter your zipcode</label>
            <input type="text" name="zipcode" /><br>
            <input type="submit">
        </form>
</body>
</html>